<!doctype html>
<title>Aqua biomonitor</title>
<link rel="stylesheet" href="../static/base.css">
<body>
  <header>
      <h1>{{ title }}</h1>
  </header>

<nav>
  <ul>
    <li>
      <a href="/index">Home</a>
    </li>
    <!--<li>-->
      <!--<a href="#">About</a>-->
    <!--</li>-->
    <li>
      <a href="/fig">Status</a>
    </li>
    <li>
      <a href="#">Ref...</a>
    </li>
  </ul>
</nav>


  <aside>
      <p>Temterature =  XX </p>
      <p>Light =  XX </p>
  </aside>


  <article>
  {% block content %}{% endblock %}
  </article>

</body>